@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="nombre_completo" class="row mt-3 mb-3" style="margin-left: 0px; margin-right: 0px">
    <div class="col-3">
        <img src="~/assets/a0f33c0137ebd5d2780d1496a0a0e490.jpg" width="70" class="img-profile" alt="Alternate Text" />
    </div>
    <div class="col-9">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <p style="font-size: 16px;" class="card-title">
                    <b>¿Cuál es tu nombre?</b>
                </p>
                <div id="formFullName">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="secondName" placeholder="Segundo nombre">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="lastname" placeholder="Apellido paterno">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="secondLastname" placeholder="Apellido materno">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>