@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="datos_contacto" class="row mt-3" style="margin-left: 0px; margin-right: 0px">
    <div class="col-3">
        <img src="~/assets/a0f33c0137ebd5d2780d1496a0a0e490.jpg" width="70" class="img-profile" alt="Alternate Text" />
    </div>
    <div class="col-9">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <p style="font-size: 16px;" class="card-title">
                    <b>Datos de contacto</b>
                </p>
                <div id="formContact">
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" placeholder="Correo eletrónico">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="phone" placeholder="Teléfono celular">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>